body {
  margin: 0;
  padding: 0;
  background-color: #2E2E2E;
  min-height: 100vh;
}

header {
  margin: 0;
  padding: 0;
}

header nav {
  height: 70px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A1A1A;
}

header nav .logo-and-title {
  display: flex;
  align-items: center;
}

header nav .logo-container {
  display: flex;
  align-items: center;
}

header nav img {
  height: 50px;
  width: auto;
  margin-right: 5px;
  margin-left: 20px;
}

header nav h1 {
  font-size: xx-large;
  font-family: "Montserrat";
  font-weight: 500;
  color: #FF4C60;
  margin: 0;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  height: 50px;
  display: flex;
  align-items: center;
}

nav li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: large;
  margin-right: 20px;
  font-family: "Montserrat";
}

nav li a:hover {
  color: #FF4C60;
}
